{% extends "base_generic.html" %}


{% block content %}
 


<a href="{% url 'index' %}">View all books</a> or sort by category:
{% for category in category %}
{% if forloop.last %}
<a href="{% url 'category' category.pk %}">{{ category.name }}</a> 
{% else %}
<a href="{% url 'category' category.pk %}">{{ category.name }}</a> |
{% endif %} 
{% endfor %}  

    
    {% if request.user.is_authenticated %}
    <h2>{{ user.get_username }}'s Favorites</h2>
    
        {% for book in request.user.favorite_books.all %}
    <p>
        <a href="{{ book.url }}"><h4>{{ book.title }}</a> by {{ book.author }}</h4>
        {{ book.description }}
        <br />
        <form method='POST' action="{% url 'favorite_added' book.pk %}">
            {% csrf_token %}
            <input type='hidden' name='' value={{ book.pk }}>
            <button type='submit'>
                {% if book in request.user.favorite_books.all %}
                    Unfavorite
                {% else %}
                    Favorite
                {% endif %}
            </button>
        <br />
       {% endfor %} 
    {% else %}
     </br >
        <h3>You need to be logged in to view your favoites. Don't have an account? <a href="{% url 'register' %}">Register here.</a></h3>
    {% endif %}
    </p>     
{% endblock %}