{% extends "base_generic.html" %}

{% block content %}
    Books by category:
    {% for category in category %}
    {% if forloop.last %}
    <a href="{% url 'python_books' category.pk %}">{{ category.name }}</a> 
    {% else %}
    <a href="{% url 'python_books' category.pk %}">{{ category.name }}</a> |
    {% endif %} 
    {% endfor %}  

   
    {% for book in book %}
    <p>
    <a href="{{ book.url }}"><h4>{{ book.title }}</a> by {{ book.author }}</h4>
    {{ book.description }}
    <br />
    Times favorited: {{book.times_favorited}} |
    Added: {{ book.date }} |
    Category: {% for category in book.category.all %} <a href="{% url 'python_books' category.pk %}">" {{ category }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    {% endfor %} 
    </p>     
{% endblock %}